body {
    background-color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #textc {
    color: rgb(165, 42, 165);
  }

  #head2 {
    color: rgb(54, 23, 0);
  }

  #dd {
    color:darkturquoise;
  }

  #i {
    color: darkturquoise;
  }

  #idd {
    color: lightgreen;
  }

  #as {
    color: rgb(0, 26, 37);
  }

  #as2 {
    color: rgb(0, 211, 28);
  }
  
  #as3 {
    color: rgb(162, 0, 211);
  }